* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'varela round';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;

}

header {

    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.788);
    backdrop-filter: blur(5px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.empty-space{
    padding: 0 20px;
    display: none;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    left: 0;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));

}

li a:hover::before {
    width: 100%;

}

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    color: white;
    background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));


}

.visit-btn:hover {
    background: linear-gradient(to right, rgb(255, 0, 225), rgb(0, 128, 255));
    transform: scale(1.03);

}

#menu-icon {
    font-size: 2rem;
    display: none;
}

section {
    position: relative;
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
}
#home{
    padding-top: 8rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}


.home img {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.418);
    width: 30vw;
    border-radius: 100%;
}


.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 3rem;
    font-weight: 600;

}

.info-box .frontend-dev {
    background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.dev-details {
    font-size: 0.9rem;
    opacity: .7;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn {
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-wrap: nowrap;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.btn:hover {
    background-color: black;
    color: white;
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials i {
    font-size: 2.5rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: rgba(20, 0, 110, 0.866);

}

.socials i:hover {
    transform: scale(1.1);
    color: rgba(31, 0, 168, 0.866);
}
.socials i:visited{
    color: rgba(20, 0, 110, 0.866);
}

.socials i:active{
    color: rgba(20, 0, 110, 0.866);
}



.about-me-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me{
    padding: 3rem 3rem;
    border: 2px solid rgba(0, 0, 0, 0.475);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    transition: 0.2s ease-in-out;
}

.p{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem;
}

.about-me-heading{
    text-align: center;
    font-weight: 600;
    background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));
    background-clip: text;
    color: transparent;
    font-size: 3rem;

}

.about-me:hover{
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0.768);
    color: white;

}

.goal-list li::before{
    content: "❖";
    margin-right: 10px;

}


.goal-list li{
    font-size: 1.2rem;
}

.goal-list{
    padding:2rem;
}


.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img {
    width: 24vw;
    border-radius: 3rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.418);
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-cards {

    border: 2px solid rgba(0, 0, 0, 0.334);
    border-radius: 3rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.5 ease-in-out;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.418);

}

.grid-cards:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.804);
    color: white;

}

.grid-cards span {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));
    background-clip: text;
    color: transparent;

}

.skills {
    height: 30px;
    padding: 60px 40px;
    padding-bottom: 100px;
    max-width: 600px;
    margin: auto;
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.bar {
    background-color: #cfcfcf;
    border-radius: 10px;
    overflow: hidden;
    height: 25px;
}

.progress {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100%;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    border-radius: 10px;
    transition: width 1s ease-in-out;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.progress:hover {
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(0, 128, 255), rgb(255, 0, 225));
}



.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.418);
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.418);
}

.project-card:hover {
    background-color: rgba(0, 0, 0, 0.723);
    color: white;
    transform: translateY(-15px)scale(1.05);
}

.project-card img {
    width: 20vw;
    border-radius: 1rem;
}

.project-card .btn{
    border: 1px solid rgba(0, 0, 0, 0.348);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.project-card:hover .btn {
    border: 2px solid rgb(255, 255, 255);
    color: white;
}

.project-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;

}

.contact-container {
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-form {
    background: linear-gradient(to top, rgb(128, 196, 255), rgb(222, 234, 255));
    display: flex;
    padding: 2rem;
    border-radius: 3rem;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.418);
}

.contact-form .submit-btn {
    border: none;
    border-radius: 3rem;
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(57, 57, 252);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1.5rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.contact-form .submit-btn:hover {
    border: none;
    background-color: rgb(20, 9, 177);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.text-contact h2 {
    font-weight: 600;
    background: linear-gradient(to right, rgb(0, 128, 255), rgb(255, 0, 225));
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    margin-top: 5px;

}

.text-contact hr {
    border: none;
    width: 14.5rem;
    height: 5px;
    background-color: rgb(95, 8, 153);
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-box {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

.contact-form textarea {
    border: none;
    height: 150px;
    width: 400px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
}

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.copyright {
    color: rgba(0, 0, 0, 0.518);
    font-size: 300;
    margin-top: 2rem;
}



@media (max-width:800px) {
    .input-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-form textarea {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-form {
        width: 100%;
        margin: 0 auto;
    }

    .contact-container {
        flex-direction: column;
        justify-content: center;

    }

}


@media(max-width:1280px) {
    header {
        padding: 1rem 2rem;
        gap: 2rem;
    }

    .home .about-container {
        gap: 3rem;
    }

    .experience-info {
        flex-direction: column;
    }

}



@media(max-width:768px) {
    header {
        gap: 0.5remrem;
        padding: 0.5rem;

    }

    header .logo {
        font-size: 1.8rem;
    }

    header .visit-btn {
        display: none;
    }

    .about-container {
        flex-direction: column;

    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .goal-list{
        text-align: left;
    }

    .experience-info img {
        width: 70vw;
    }
      .about-me{
        text-align: left;

    }
    .about-me p{
        padding: 0;

    }

}



@media(max-width:600px) {
    header #menu-icon {
        display: block;
        margin-right: 0px !important;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.83);
        border-radius: 3rem;
        display: none;
    }

    .nav-links li {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .nav-links.active {
        display: block;

    }

    header {
        padding: 0.8rem 2rem;
        gap: 5.5rem;
        

    }

   

    header .logo {
        font-size: 1.5rem;
    }


    .about-container img {
        width: 70vw;
    }

    .section-title{
        font-size: 3rem;
    }

    .about-me{
        text-align: left;
        

    }

    .goal-list{
        text-align: left;
    }

    .about-me p{
        padding: 0;

    }


    footer ul {
        gap: 1rem;
    }


}